[submodule "Code/OwlCoinV2"]
	path = Code/OwlCoinV2
	url = https://github.com/Jaminima/OwlCoinV2
[submodule "Code/TwitchRewardCurrencyAPI"]
	path = Code/TwitchRewardCurrencyAPI
	url = https://github.com/Jaminima/TwitchRewardCurrencyAPI
[submodule "Code/Twitch-Discord-Reward-Bot"]
	path = Code/Twitch-Discord-Reward-Bot
	url = https://github.com/Jaminima/Twitch-Discord-Reward-Bot